[Unit]
Description=M5Pro Startup Scripts
After=pulseaudio.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/lib/systemd/scripts/m5pro.sh start
ExecStop=/usr/lib/systemd/scripts/m5pro.sh stop
StandardOutput=journal+console

[Install]
WantedBy=multi-user.target
