[Unit]
Description=M5Pro Shutdown Script
DefaultDependencies=no
Conflicts=reboot.target
Before=poweroff.target halt.target shutdown.target
Requires=poweroff.target

[Service]
Type=oneshot
ExecStart=/usr/lib/systemd/scripts/m5pro.sh shutdown
#StandardOutput=console

[Install]
WantedBy=shutdown.target
