[Unit]
Description=MA6 Startup Scripts
After=pulseaudio.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/lib/systemd/scripts/ma6.sh start
ExecStop=/usr/lib/systemd/scripts/ma6.sh stop
StandardOutput=journal+console

[Install]
WantedBy=multi-user.target
