[Unit]
Description=MA6 Shutdown Script
DefaultDependencies=no
Conflicts=reboot.target
Before=poweroff.target halt.target shutdown.target
Requires=poweroff.target

[Service]
Type=oneshot
ExecStart=/usr/lib/systemd/scripts/ma6.sh shutdown
#StandardOutput=console

[Install]
WantedBy=shutdown.target
